.menu-main {
    height: 100%;
    display: grid;
    place-items: center;
}

.menu-title {
    font-family: Spongeboy, sans-serif;
    font-size: 2rem;
    color: rgb(22, 97, 236);
    display: grid;
    align-self: end;
}

.menu {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    width: 50vw;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    font-family: Playfair, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
}

.menu-item-additional {
    margin-left: 10px;
}
